<div
  class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center cursor-pointer"
  (click)="openInformationContact()"
>
  <div class="flex items-center">
    <div>
      <img
        class="w-10 h-10 rounded-full"
        [src]="avatar"
      />
    </div>
    <div class="ml-4">
      <p class="text-grey-darkest">{{ name }} {{ lastname}}</p>
      <p class="text-grey-darker text-xs mt-1">
        @if( isActive ){ online } @else { offline }
      </p>
    </div>
  </div>
</div>
